 .hide {
   display: none;
 }
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
main{
  flex-grow: 1;
}
section{
  padding-top: 120px;
    padding-bottom: 120px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
h1,h2,h3{
  margin: 0;
}
a{
  color: currentColor;
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
p{
  margin:0;
}
/* Common styles */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
 

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header-container {
    align-items: center;
  }
}
 
/* LOGO */
.logo {
  color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;

}
.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
/* NAV */
 
 
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list,
.address-list{
  font-style: normal;
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
  .nav-list,
  .address-list {
      display: none;
    }
}

@media only screen and (max-width: 1158px) {
   .address-list {
    flex-direction: column;
      gap: 12px;
    }
}
.mob-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: inherit;
}
@media only screen and (min-width: 768px) {

  .mob-btn {
      display:none;
    }
}
.mob-btn-icon{
  fill: #2f2f37;
}

.nav-link {
  position: relative;
    display: block;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link {
    display: block;
      line-height: 1.5;
      letter-spacing: 0.32px;
      text-decoration: none;
      padding: 24px 0;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }
    @media only screen and (max-width: 1158px) {
  
      .address-link {
          font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            padding: 0;
      
        }
    }

   .nav-link:hover,
    .nav-link:focus,
    .address-link:hover,
    .address-link:focus{
       color: #404bbf;
    }
  .nav-link.nav-studio{
      color: #404bbf;
    }
        .nav-studio::after {
          position: absolute;
          bottom: -1px;
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: #404bbf;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.nav-link:hover::after,
.nav-link:focus::after {
  background-color: #404bbf;
}
 
/* SECTION HERO */
.hero{
    background-color: #2e2f42;
      padding-top: 72px;
      padding-bottom: 72px;
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero/Dark-bgmob.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      max-width: 320px;
      margin: auto;
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bgmob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bgtab.png);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bgtab@2x.png);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office\ 1des.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office\ 1des@2x.jpg);
  }
}
.hero-title {
color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 288px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button,.modal-btn {
color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.modal-btn:hover.modal-btn:focus {
  background-color: #404bbf;
}

/*SECTION ONE*/
.icon-box{
  display: none;
} 


 
 .section-one .chapter-one-title{
  margin-bottom: 8px;
 }


.chapter-one-title {
color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  align-self: stretch;
  
}

.chapter-one-text {
font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .section-one-list{
    display: flex;
    min-width: 365px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
.section-one-content{
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .section-one-content {
    margin-bottom: 0;
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .section-one-content {
    margin-bottom: 0;
    width: calc((100% - 3 * 24px) / 4);
  }
}
.section-one-content:not(:last-child){
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
.section-one-content:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .icon-box {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    padding: 24px 0;
    margin-bottom: 8px;
  }
    }
    .section-one-icon{
      display: block;
      margin: auto;
    }
@media only screen and (min-width: 768px) {
          .chapter-one-title {
            text-align: left;
          }
        }
@media only screen and (min-width: 1158px) {
.chapter-one-title {
  font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 1158px) {
  .chapter-one-text {
      font-weight: 400;
       
    }
}



/*SECTION TWO*/
.social-list {
  display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
   
}
.list-icons{
  width: 40px;
  height: 40px;
   
}
.social-icon-href{
  display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-href:hover,
.social-icon-href:focus {
  background-color: #404bbf;}

.icons-social{
  fill:#f4f4fd;

}
 
.section-two {
  background-color: #F4F4FD;
   
}

.section-two .chapter-two-title {
  margin-bottom: 72px;
}


.chapter-two-wrapper {
  width: 232px;
    padding: 32px 0;
    margin: 0 auto;
}

.chapter-two-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  
}

.chapter-two-title{
  color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .chapter-two-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
.list{

  display: flex;
    max-width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

 
.photo-title{
  color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
}
.photo-text{
      text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .list {
  width: calc((100% - 1 * 24px) / 2);
    
  }
}

@media screen and (min-width: 1158px) {
  .list {
      width: calc((100% - 3 * 24px) / 4);
  }
}

/*SECTION THREE*/
 .section-tree,
 .chapter-three-title {
   margin-bottom: 72px;
 }

 .section-tree,
 .chapter-one-title {
   margin-bottom: 8px;
 }

 .chapter-three-wrapper {
   align-self: stretch;
   border: 1px solid #e7e9fc;
   border-top: none;
   padding: 32px 16px;
 }

 .div-portfolio-img {
   position: relative;
   overflow: hidden;
 }

 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateX(-100%);
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   background-color: #4d5ae5;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   padding: 40px 32px;
 }

 .chapter-three-list:hover .chapter-three-item {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .chapter-three-list {
   display: flex;
flex-direction: column;
   row-gap: 48px;
 }

@media only screen and (min-width: 768px){
  .chapter-three-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .chapter-three-list {
     row-gap: 48px;
  }
}


 .chapter-three-title {
   color: var(--NAVY-BLUE, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11em;
   letter-spacing: 0.02em;
   text-transform: capitalize;
 }

 .chapter-three-item {
   width: 288px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 @media only screen and (min-width: 768px) {
   .chapter-three-item {
    width: calc((100% - 1 * 24px) / 2);
   }
 }

 @media only screen and (min-width: 1158px) {
   .chapter-three-item {
    width: calc((100% - 2 * 24px) / 3);
   }
 }


 .chapter-three-item:hover .overlay {
   transform: translateY(0);
 }

 .chapter-three-item:hover,
 .chapter-three-item:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-title {
    color: #2e2f42;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
 }
/*footer*/
.footer {
  background-color: #2e2f42;
    padding-top: 96px;
      padding-bottom: 96px;
}
@media only screen and (min-width: 1158px){
  .footer{
    padding-top: 100px;
      padding-bottom: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .container.footer-div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .container.footer-div {
      align-items: baseline;
      padding-left: 15px;
      column-gap: 0;
    }
}
.div-footer{
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .div-footer {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .div-footer {
    margin-right: 120px;
  }
}


.logo-two{
  display: inline-block;
    margin-bottom: 17.5px;
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 0;
}
@media only screen and (min-width: 768px) {
  .logo-two {
    text-align: left;
  }
}

.logo-footer {
  color: #f4f4fd;
  
} 

.footer-text{
  width: 100%;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }
}
.box-footer-social{
  display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 208px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .box-footer-social {
  align-items: flex-start;
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .box-footer-social {
    margin-right: 80px;
  }
}


.social-text-footer{
font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list.footer-div{
  gap: 16px;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .social-list.footer-div {
     margin-bottom: 0;
    }
  }
  
  .social-icon-href-footer:hover,
  .social-icon-href-footer:focus{
    background-color: #31d0aa;
  }

    @media only screen and (min-width: 1158px) {
      .box-form-footer {
        margin-left: auto;
      }
    }
  
  .social-icon-href-footer{
  width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icons-social-footer{
  fill: #f4f4fd;

}


.text-form{
margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .text-form {
    text-align: start;
  }
}


@media only screen and (min-width: 768px) {
  .form-footer {
    display: flex;
    column-gap: 24px;
  }
}

.input-footer {
  width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .input-footer {
    min-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .input-footer {
    margin-bottom: 0;
  }
}
.input-footer::placeholder {
  color: #fff;
}
.btn-footer{
  min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

}
.btn-footer:hover,
.btn-footer:focus {
  background: #404bbf;
}

.svg-footer {
  margin-left: 16px;
    fill: white;;
}
/*MODAL*/
 .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(46, 47, 66, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: initial;
 }

 .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 288px;
   min-height: 623px;
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
     0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   flex-shrink: 0;
   border-radius: 4px;
   background: #fcfcfc;
   padding: 72px 16px 24px;
 }

 @media only screen and (min-width: 768px) {
   .modal {
     min-width: 488px;
     min-height: 584px;
     padding-left: 23px;
     padding-right: 25px;
   }
 }

 @media only screen and (min-width: 1158px) {
   .modal {
     min-width: 408px;
     min-height: 584px;
     padding: 72px 24px 24px;
   }
 }
 .close-btn{
  width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid #0000001a;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .close{
  fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .close-btn:hover,
 .close-btn:focus {
   background-color: #404bbf;
   border: none;
 }
 .close-btn:hover .close,
 .close-btn:focus .close {
   fill: #ffffff;
 }
 .modal-title{
  color: #2e2f42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
 }
 .modal-form{
  display: flex;
    flex-direction: column;
 }
 .box-form{
  display: flex;
    flex-direction: column;
    margin-bottom: 8px;
 }
 .modal-label{
  color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
 }
 .box-input{
  position: relative;
 }
 .input-modal{
  border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    background-color: transparent;
 }
 .input-modal:focus{
  border: 1px solid #4d5ae5;
 }
 .modal-svg{
  position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .input-modal:focus + .modal-svg{
  fill: #4d5ae5;
 }

 .box-modal.textarea{
  margin-bottom: 16px;
 }
 .textarea-modal{
  height: 120px;
    width: 100%;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f4266;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
 }
 .textarea-modal:focus{
  border: 1px solid #4d5ae5;
 }
.checkbox-modal{
  margin-bottom: 24px;
}
.form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}

.checkbox:checked+.form-agreement>.form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-agreement-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-agreement-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.modal-btn{
  font-family: 'Roboto', sans-serif;
}

/*MOBILE-MENU*/
.mobile-box{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translate(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}
.mobile-box.is-open{
  transform: translate(0);
    visibility: visible;
}
.mobile-box.close-btn{
  position: absolute;
    top: 24px;
    right: 24px;
}
.mob-list{
  margin-bottom: auto;
}
.mob-list-link{
color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-list-link.current{
      color: #404bbf;
}
.mob-contacts{
  margin-bottom: 48px;
}
.mob-contacts-link{
  color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mob-contacts-link.accent{
  color: #4d5ae5;
}

.mob-contacts-link:not(:last-child) {
  margin-bottom: 24px;
}
.social-list.mobile {
  justify-content: left;
  gap: 40px;
}